#footer
    | CINEPHILE 2020 &copy;
    a.fa.fa-facebook(href='https://www.youtube.com/watch?v=ub82Xb1C8os&ab_channel=JuiceboxHero' target='_blank')
    a.fa.fa-twitter(href='https://www.youtube.com/watch?v=ub82Xb1C8os&ab_channel=JuiceboxHero' target='_blank')
    a.fa.fa-instagram(href='https://www.youtube.com/watch?v=ub82Xb1C8os&ab_channel=JuiceboxHero' target='_blank')