doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='/favicon.png' rel='icon')
        link(rel='stylesheet' href='/website.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@300&family=Open+Sans&display=swap' rel='stylesheet')
        title Cinephile
    body
        include navbar
        #hometitle
            h1 Cinephile
        img#logo(alt='logo' src='/website-logo.png')
        include footer
        script(src='/client.js')