html {
  scroll-behavior: smooth;
}

body {
  background-color: gray;
}

#navbar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 32px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#navbar a:hover {
  background-color: dimgrey;
  color: black;
}

#active {
  background-color: lightslategray;
  color: black;
}

#search-bar {
  float: right;
}

#search-bar input[type="text"] {
  padding: 6px;
  opacity: 25%;
  margin-top: 20px;
  margin-right: 0px;
  font-size: 17px;
}

#search-bar button {
  float: right;
  opacity: 60%;
  padding: 2px 8px;
  margin-top: 20px;
  margin-right: 20px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 60%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#hometitle h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 130px;
  text-align: center;
  padding-top: 30px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  opacity: 70%;
}

#heading-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  padding-top: 80px;
  padding-bottom: 20px;
  opacity: 80%;
}

label {
  font-family: "Open Sans", sans-serif;
}

#login-form-div {
  display: block;
  text-align: center;
}

#login-form {
  width: 30%;
  border-style: solid;
  border-radius: 20px;
  padding: 16px 16px;
  border-width: 1px;
  border-color: ghostwhite;

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#login-form h4 {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 30px;
  padding-bottom: 2px;
}

#login-form p {
  font-family: "Open Sans";
  font-size: 15px;
  text-align: center;
}

#login-form input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#sign-in-button {
  background-color: lightsteelblue;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 97%;
  opacity: 90%;
}

#signup-form-div {
  display: block;
  text-align: center;
}

#signup-form {
  width: 30%;
  border-style: solid;
  border-radius: 20px;
  padding: 16px 16px;
  border-width: 1px;
  border-color: ghostwhite;

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#signup-form h4 {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 30px;
  padding-bottom: 2px;
}

#signup-form p {
  font-family: "Open Sans";
  font-size: 15px;
  text-align: center;
}

#signup-form input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#sign-up-button {
  background-color: lightsteelblue;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 97%;
  opacity: 90%;
}

#user-profile-div {
  display: block;
  text-align: center;
  padding: 60px 60px;
}

#user-info {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

ul {
  list-style-type: disc;
}

#user-info ul {
  list-style-type: disc;
  text-align: left;
}

#user-following-list {
  margin-left: 20px;
}

#people-following-list {
  margin-left: 20px;
}

#follower-list {
  margin-left: 20px;
}

#user-info a:link {
  color: darkslategrey;
}

#movie-recommendations a:link {
  color: darkslategrey;
}

li {
  font-family: "Open Sans";
  padding: 2px;
}

#user-info h5 {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  text-align: center;
}

#user-info h6 {
  font-family: "Cairo", sans-serif;
  font-size: 19px;
  text-align: center;
}

#user-info p {
  font-family: "Cairo", sans-serif;
  font-size: 19px;
  text-align: center;
  margin-right: 20px;
}

#movie-recommendations h5 {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  text-align: center;
}

#movie-recommendations {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#change-user-type {
  background-color: lightsteelblue;
  color: black;
  padding: 16px 20px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 90%;
  font-family: "Open Sans";
}

#add-movie {
  background-color: lightsteelblue;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 90%;
  font-family: "Open Sans";
}

#clearNotifications {
  background-color: lightsteelblue;
  color: black;
  padding: 10px 14px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 150px;
  margin-left: 60px; /*was 105*/
  margin-top: 20px;
  font-family: "Open Sans";
}

#search-results {
  padding: 60px 60px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#search-results h2 {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 50px;
}

#search-results h6 {
  font-family: "Cairo", sans-serif;
  text-align: left;
  font-size: 20px;
}

#search-results ul {
  list-style-type: none;
  padding: 5px 5px;
}

#search-results li {
  padding: 10px;
}

#search-results a:link {
  color: darkslategray;
}

#filter-criteria {
  width: 15%;
  padding: 10px 14px;
  border: solid black 2px;
  border-radius: 8px;
  background-color: slategrey;
  margin-bottom: 10px;
}

#filter-order {
  width: 15%;
  padding: 10px 14px;
  border: solid black 2px;
  border-radius: 8px;
  background-color: slategrey;
  margin-bottom: 10px;
}

#filter-button {
  background-color: lightsteelblue;
  color: black;
  padding: 13px 17px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 10%;
  font-family: "Open Sans";
}

#other-user-div {
  display: block;
  text-align: left;
  padding: 60px 60px;
}

#other-user-view {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left; /*this was center */
}

#other-user-view h5 {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-left: 550px;
}

#other-user-view h6 {
  font-family: "Cairo", sans-serif;
  text-align: left; /*this was center */
  font-size: 20px;
}

#other-user-view p {
  font-family: "Cairo", sans-serif;
  font-size: 17px;
}

#follow-user {
  background-color: lightsteelblue;
  color: black;
  padding: 16px 20px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 25%;
  margin-left: 555px;
  font-family: "Open Sans";
}

#other-user-view a:link {
  color: darkslategrey;
}

#other-user-view li {
  alignment: left; /*this was center */
  padding: 10px 10px;
}

#people-view {
  display: block;
  text-align: left;
  padding: 60px 60px;
}

#people-view h5 {
  font-family: "Bebas Neue";
  font-size: 38px;
  text-align: center;
}

#people-view h6 {
  font-family: "Cairo", sans-serif;
  text-align: left;
  font-size: 25px;
}

#follow-person {
  background-color: lightsteelblue;
  color: black;
  padding: 16px 20px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 20%;
  font-family: "Open Sans";
  margin-left: 515px;
}

#people-view a:link {
  color: darkslategrey;
}

#people-view li {
  alignment: left;
  padding: 10px 10px;
}

#people-view p {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
}

#movie-view-div {
  display: block;
  text-align: left;
  padding: 60px 60px;
}

#movie-view-div h5 {
  font-family: "Bebas Neue";
  font-size: 38px;
  text-align: center;
}

#movie-view-div h6 {
  font-family: "Cairo", sans-serif;
  text-align: left;
  font-size: 20px;
}

#movie-view-div a:link {
  color: darkslategrey;
}

#movie-view-div li {
  alignment: left;
  padding: 10px 10px;
}

#movie-view-div p {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
}

#rating-select-full {
  width: 7%;
  padding: 10px 14px;
  border: solid black 2px;
  border-radius: 8px;
  background-color: slategrey;
}

#rating-select-basic {
  width: 7%;
  padding: 10px 14px;
  border: solid black 2px;
  border-radius: 8px;
  background-color: slategrey;
}

#review-summary {
  width: 20%;
  border: solid black 2px;
  padding: 10px 10px;
  border-radius: 5px;
  background: slategray;
}

#full-review {
  width: 600px;
  height: 150px;
  border: solid black 2px;
  padding: 10px 10px;
  border-radius: 5px;
  background: slategray;
  font-family: "Open Sans", sans-serif;
  resize: none;
}

#submit-full-review {
  background-color: slategray;
  color: black;
  padding: 16px 20px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 15%;
  font-family: "Open Sans";
  margin-top: 30px;
  margin-bottom: 30px;
}

#submit-basic-review {
  background-color: slategray;
  color: black;
  padding: 16px 20px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 15%;
  font-family: "Open Sans";
  margin-top: 30px;
  margin-bottom: 30px;
}

#edit-actor {
  width: 15%;
  border: solid black 2px;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 20px;
  background: slategray;
}

#edit-writer {
  width: 15%;
  border: solid black 2px;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 20px;
  background: slategray;
}

#edit {
  background-color: slategray;
  color: black;
  padding: 10px 14px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 10%;
  font-family: "Open Sans";
  margin-top: 20px;
  margin-bottom: 5px;
}

#add-movies-div {
  display: block;
  text-align: left;
  padding: 60px 60px;
}

#add-movies-div h5 {
  font-family: "Bebas Neue";
  font-size: 38px;
  text-align: center;
}

#add-movies-div h6 {
  font-family: "Cairo", sans-serif;
  text-align: left;
  font-size: 20px;
}

#add-movie-button {
  background-color: slategray;
  color: black;
  padding: 16px 20px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 15%;
  font-family: "Open Sans";
  margin-top: 30px;
  margin-bottom: 30px;
}

#add-person-button {
  background-color: slategray;
  color: black;
  padding: 16px 20px;
  border: solid black 2px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 100%;
  width: 15%;
  font-family: "Open Sans";
  margin-top: 30px;
  margin-bottom: 30px;
}

#add-movies-div input {
  width: 20%;
  border: solid black 2px;
  padding: 10px 10px;
  border-radius: 5px;
  background: slategray;
}

#actor-entry-1 {
  margin-right: 10px;
}

#actor-entry-2 {
  margin-right: 10px;
}

#actor-entry-3 {
  margin-right: 10px;
}

#plot-entry {
  width: 600px;
  height: 150px;
  border: solid black 2px;
  padding: 10px 10px;
  border-radius: 5px;
  background: slategray;
  font-family: "Open Sans", sans-serif;
  resize: none;
}
